<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo6.css">
</head>

<body>


        <div class="menu-geral">
            <i id="menuBotao" class="fas fa-bars"></i>
            <nav id="menuTopo" class="menu escondido">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="pg2.html">Sobre nós</a>
                    </li>
                    <li>
                        <a href="pg3.html">Fale conosco</a>
                    </li>
                    <li>
                        <a href="pg4.html">Cadastrar Usuário</a>
                    </li>
                    <li>
                        <a href="pg5.html">Efetuar Login</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="cor-dois">
            <h1>Comentarios Aguardando Aprovação do Admin</h1>
<form>
        @using Senai.Check.Point.Mvc.Web.Models;
<div class="alinhar-coment">

        @foreach (ComentarioModel item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
         <div class="comentario">
                <tr>
                    <div class="itens">
                    <div class="nome">
                    <td>
                        @item.Nome
                    </td>
                    <br>
                    </div>
                    <div class="data">
                    <td>
                        @item.DataCriacao
                    </td>
                    <br>
                    </div>
                    </div>
                    <div class="itens-b">
                    <div class="texto">
                    <td>
                        @item.Texto
                    </td>
                    <br>
                    </div>
                    <div class="botoes">
                    <td>
                        @if(item.Status == true ){
                           
                              <a href="/Comentario/ComentarioRecusado?id=@item.Id" style="text-decoration: none;">Recusar</a>
                          
                             
                            <a href="/Comentario/ComentarioExcluir?id=9" style="text-decoration: none;">Deletar</a>
                           
                        } else {
                           
                            <a href="/Comentario/ComentarioAprovado?id=@item.Id" style="text-decoration: none;">Aprovar</a>
                            
                       
                            <a href="/Comentario/ComentarioExcluir?id=@item.Id" style="text-decoration: none;">Deletar</a>
                          
                        } 
                    </td>
                    </div>
                    </div>
                </tr>
            </div>
        }
</div>        
</form>

</div>

    <div class="chat">
        <img id="chatBotao" src="/imagens/Ativo 3.png">
    </div>
    <div id="chat" class="escondido">
        <header>
            <nav class="flex-container">s
                <div class="perfil flex-container">
                    <div class="perfil-img">
                        <img src="imagens/Ativo 20.jpg" alt="foto perfil">
                    </div>
                    <div class="perfil-dados">
                        <span class="perfil-nome">Eryk Guilherme S. Campos</span>
                        <span class="perfil-status">Online</span>
                    </div>
                </div>
                <div class="acoes flex-container">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-paperclip"></i>
                    </a>
                </div>
            </nav>
        </header>
        <main class="flex-container">
            <div class="chat-msg chat-msg-enviada">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ex quas consequatur, sunt dignissimos omnis sequi ducimus
                    officia accusantium quos consectetur eaque, repellendus impedit dolor, quo quasi necessitatibus molestias
                    voluptatum.
                </p>
                <samp class="chat-msg-horario">16:17</samp>
            </div>
            <div class="chat-msg chat-msg-recebida">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ex quas consequatur, sunt dignissimos omnis sequi ducimus
                    officia accusantium quos consectetur eaque, repellendus impedit dolor, quo quasi necessitatibus molestias
                    voluptatum.
                </p>
                <samp class="chat-msg-horario">16:20</samp>
            </div>
            <div class="chat-msg chat-msg-enviada">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ex quas consequatur, sunt dignissimos omnis sequi ducimus
                    officia accusantium quos consectetur eaque, repellendus impedit dolor, quo quasi necessitatibus molestias
                    voluptatum.
                </p>
                <samp class="chat-msg-horario">16:25</samp>
            </div>
            <div class="chat-msg chat-msg-recebida">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ex quas consequatur, sunt dignissimos omnis sequi ducimus
                    officia accusantium quos consectetur eaque, repellendus impedit dolor, quo quasi necessitatibus molestias
                    voluptatum.
                </p>
                <samp class="chat-msg-horario">16:30</samp>
            </div>
        </main>
        <footer class="flex-container">
            <i class="fas fa-smile"></i>
            <form>
                <textarea></textarea>
            </form>
            <i class="fas fa-microphone"></i>
        </footer>
    </div>

    <div class="rodape">
        <img src="/imagens/local-icone.png">
        <img src="/imagens/fb_icon_325x325.png">
        <img src="/imagens/Viber-2-512.png">
        <img src="/imagens/super_imggmail-com_0.png">
        <img src="/imagens/social-instagram-new-circle-512.png">
        <img src="/imagens/TWITTER.png">
    </div>
    <script>
        var botao = document.getElementById("menuBotao");
        var menu = document.getElementById("menuTopo")
        botao.onclick = function () {
            menu.classList.toggle("escondido");
        };
        var botaochat = document.getElementById("chatBotao");
        var chat = document.getElementById("chat");
        botaochat.onclick = function () {
            chat.classList.toggle("escondido");

        };
    </script>

</body>

</html>